<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="prediction-page.css" rel="stylesheet">
</head>
<body>

    <div class="title-div">
        <h1 class="title">Ankara Kira Tahmincisi</h1>
    </div>

    <div class="main-container">
        <div class="ankara-map-title-container">
            <h3 class="ankara-map-title">Tahmin Bölümü</h3>
        </div>
        <div class="prediction-container">
            <div class="ankara-map-container">
                <img class="ankara-map" src="images/ankara-blank.png">
            </div>
            <form method="POST" action="Prediction">
                <div class="comboboxes-textboxes">
                    <select name="district" id="district-selector">
                        <option value="" disabled selected>Bölge Seçiniz</option>
                        <option value="Akyurt - Yıldırım Mh.">Akyurt - Yıldırım Mh.</option>
                        <option value="Altındağ - Yıldıztepe Mh.">Altındağ - Yıldıztepe Mh.</option>
                        <option value="Altındağ - Beşikkaya Mh.">Altındağ - Beşikkaya Mh.</option>
                        <option value="Altındağ - Doğantepe Mh.">Altındağ - Doğantepe Mh.</option>
                        <option value="Altındağ - Gültepe Mh.">Altındağ - Gültepe Mh.</option>
                        <option value="Altındağ - Baraj Mh.">Altındağ - Baraj Mh.</option>
                        <option value="Altındağ - Feridun Çelik Mh.">Altındağ - Feridun Çelik Mh.</option>
                        <option value="Altındağ - Kurtuluş Mh.">Altındağ - Kurtuluş Mh.</option>
                        <option value="Altındağ - Güneşevler Mh.">Altındağ - Güneşevler Mh.</option>
                        <option value="Altındağ - Başpınar Mh.">Altındağ - Başpınar Mh.</option>
                        <option value="Altındağ - Zübeyde Hanım Mh.">Altındağ - Zübeyde Hanım Mh.</option>
                        <option value="Altındağ - Karapürçek Mh.">Altındağ - Karapürçek Mh.</option>
                        <option value="Altındağ - Hacettepe Mh.">Altındağ - Hacettepe Mh.</option>
                        <option value="Altındağ - Aydınlıkevler Mh.">Altındağ - Aydınlıkevler Mh.</option>
                        <option value="Ayaş - Uğurçayırı Mh.">Ayaş - Uğurçayırı Mh.</option>
                        <option value="Beypazarı - Hacıkara Mh.">Beypazarı - Hacıkara Mh.</option>
                        <option value="Çankaya - Cebeci Mh.">Çankaya - Cebeci Mh.</option>
                        <option value="Çankaya - Ehlibeyt Mh.">Çankaya - Ehlibeyt Mh.</option>
                        <option value="Çankaya - Kızılırmak Mh.">Çankaya - Kızılırmak Mh.</option>
                        <option value="Çankaya - Kocatepe Mh.">Çankaya - Kocatepe Mh.</option>
                        <option value="Çankaya - Kültür Mh.">Çankaya - Kültür Mh.</option>
                        <option value="Çankaya - Ön Cebeci Mh.">Çankaya - Ön Cebeci Mh.</option>
                        <option value="Çankaya - Şehit Cengiz Karaca Mh.">Çankaya - Şehit Cengiz Karaca Mh.</option>
                        <option value="Çankaya - Şehit Cevdet Özdemir Mh.">Çankaya - Şehit Cevdet Özdemir Mh.</option>
                        <option value="Çankaya - Muhsin Ertuğrul Mh.">Çankaya - Muhsin Ertuğrul Mh.</option>
                        <option value="Çankaya - Bağcılar Mh.">Çankaya - Bağcılar Mh.</option>
                        <option value="Çankaya - Doğuş Mh.">Çankaya - Doğuş Mh.</option>
                        <option value="Çankaya - Bayraktar Mh.">Çankaya - Bayraktar Mh.</option>
                        <option value="Çankaya - Mimar Sinan Mh.">Çankaya - Mimar Sinan Mh.</option>
                        <option value="Çankaya - Bademlidere Mh.">Çankaya - Bademlidere Mh.</option>
                        <option value="Çankaya - Esatoğlu Mh.">Çankaya - Esatoğlu Mh.</option>
                        <option value="Çankaya - Kızılay Mh.">Çankaya - Kızılay Mh.</option>
                        <option value="Çankaya - Dodurga Mh.">Çankaya - Dodurga Mh.</option>
                        <option value="Çankaya - Keklik Pınarı Mh.">Çankaya - Keklik Pınarı Mh.</option>
                        <option value="Çankaya - Osman Temiz Mh.">Çankaya - Osman Temiz Mh.</option>
                        <option value="Çankaya - Mutlukent Mh.">Çankaya - Mutlukent Mh.</option>
                        <option value="Çankaya - Fidanlık Mh.">Çankaya - Fidanlık Mh.</option>
                        <option value="Çankaya - Prof. Dr. Ahmet Taner Kışlalı Mh.">Çankaya - Prof. Dr. Ahmet Taner Kışlalı Mh.</option>
                        <option value="Çankaya - 100. Yıl Mh.">Çankaya - 100. Yıl Mh.</option>
                        <option value="Çankaya - Konutkent Mh.">Çankaya - Konutkent Mh.</option>
                        <option value="Çankaya - Ata Mh.">Çankaya - Ata Mh.</option>
                        <option value="Çankaya - Çiğdem Mh.">Çankaya - Çiğdem Mh.</option>
                        <option value="Çankaya - Seyranbağları Mh.">Çankaya - Seyranbağları Mh.</option>
                        <option value="Çankaya - Naci Çakır Mh.">Çankaya - Naci Çakır Mh.</option>
                        <option value="Çankaya - İleri Mh.">Çankaya - İleri Mh.</option>
                        <option value="Çankaya - Malazgirt Mh.">Çankaya - Malazgirt Mh.</option>
                        <option value="Çankaya - İlkbahar Mh.">Çankaya - İlkbahar Mh.</option>
                        <option value="Çankaya - Mürsel Uluç Mh.">Çankaya - Mürsel Uluç Mh.</option>
                        <option value="Çankaya - Gaziosmanpaşa Mh.">Çankaya - Gaziosmanpaşa Mh.</option>
                        <option value="Çankaya - Küçükesat Mh.">Çankaya - Küçükesat Mh.</option>
                        <option value="Çankaya - Umut Mh.">Çankaya - Umut Mh.</option>
                        <option value="Çankaya - Oğuzlar Mh.">Çankaya - Oğuzlar Mh.</option>
                        <option value="Çankaya - Çamlıtepe Mh.">Çankaya - Çamlıtepe Mh.</option>
                        <option value="Çankaya - Oran Mh.">Çankaya - Oran Mh.</option>
                        <option value="Çankaya - Zafertepe Mh.">Çankaya - Zafertepe Mh.</option>
                        <option value="Çankaya - Meşrutiyet Mh.">Çankaya - Meşrutiyet Mh.</option>
                        <option value="Çankaya - Çankaya Mh.">Çankaya - Çankaya Mh.</option>
                        <option value="Çankaya - Aşağı Öveçler Mh.">Çankaya - Aşağı Öveçler Mh.</option>
                        <option value="Çankaya - Bağlıca Mh.">Çankaya - Bağlıca Mh.</option>
                        <option value="Çankaya - Cumhuriyet Mh.">Çankaya - Cumhuriyet Mh.</option>
                        <option value="Çankaya - Dikmen Mh.">Çankaya - Dikmen Mh.</option>
                        <option value="Çankaya - Kavaklıdere Mh.">Çankaya - Kavaklıdere Mh.</option>
                        <option value="Çankaya - Koza Mh.">Çankaya - Koza Mh.</option>
                        <option value="Çankaya - Birlik Mh.">Çankaya - Birlik Mh.</option>
                        <option value="Çankaya - Hilal Mh.">Çankaya - Hilal Mh.</option>
                        <option value="Çankaya - Aziziye Mh.">Çankaya - Aziziye Mh.</option>
                        <option value="Çankaya - Beytepe Mh.">Çankaya - Beytepe Mh.</option>
                        <option value="Çankaya - Cevizlidere Mh.">Çankaya - Cevizlidere Mh.</option>
                        <option value="Çankaya - Yaşamkent Mh.">Çankaya - Yaşamkent Mh.</option>
                        <option value="Çankaya - Alacaatlı Mh.">Çankaya - Alacaatlı Mh.</option>
                        <option value="Çankaya - Balgat Mh.">Çankaya - Balgat Mh.</option>
                        <option value="Çankaya - İşçi Blokları Mh.">Çankaya - İşçi Blokları Mh.</option>
                        <option value="Çankaya - Anıttepe Mh.">Çankaya - Anıttepe Mh.</option>
                        <option value="Çankaya - Sancak Mh.">Çankaya - Sancak Mh.</option>
                        <option value="Çankaya - Mustafa Kemal Mh.">Çankaya - Mustafa Kemal Mh.</option>
                        <option value="Çankaya - Büyükesat Mh.">Çankaya - Büyükesat Mh.</option>
                        <option value="Çankaya - Tınaztepe Mh.">Çankaya - Tınaztepe Mh.</option>
                        <option value="Çankaya - Harbiye Mh.">Çankaya - Harbiye Mh.</option>
                        <option value="Çankaya - Metin Akkuş Mh.">Çankaya - Metin Akkuş Mh.</option>
                        <option value="Çankaya - Kavaklıdere Mh.">Çankaya - Kavaklıdere Mh.</option>
                        <option value="Çankaya - Remzi Oğuz Arık Mh.">Çankaya - Remzi Oğuz Arık Mh.</option>
                        <option value="Çankaya - Arka Topraklık Mh.">Çankaya - Arka Topraklık Mh.</option>
                        <option value="Çankaya - Yukarı Dikmen Mh.">Çankaya - Yukarı Dikmen Mh.</option>
                        <option value="Çankaya - Ertuğrulgazi Mh.">Çankaya - Ertuğrulgazi Mh.</option>
                        <option value="Çankaya - Mebusevleri Mh.">Çankaya - Mebusevleri Mh.</option>
                        <option value="Çankaya - İlkadım Mh.">Çankaya - İlkadım Mh.</option>
                        <option value="Çankaya - Ayrancı Mh.">Çankaya - Ayrancı Mh.</option>
                        <option value="Çankaya - Aşıkpaşa Mh.">Çankaya - Aşıkpaşa Mh.</option>
                        <option value="Çankaya - Bahçelievler Mh.">Çankaya - Bahçelievler Mh.</option>
                        <option value="Çankaya - Fakülteler Mh.">Çankaya - Fakülteler Mh.</option>
                        <option value="Çankaya - Yukarı Öveçler Mh.">Çankaya - Yukarı Öveçler Mh.</option>
                        <option value="Çankaya - Huzur Mh.">Çankaya - Huzur Mh.</option>
                        <option value="Çankaya - Dumlupınar Mh.">Çankaya - Dumlupınar Mh.</option>
                        <option value="Çankaya - Emek Mh.">Çankaya - Emek Mh.</option>
                        <option value="Çankaya - Yukarı Bahçelievler Mh.">Çankaya - Yukarı Bahçelievler Mh.</option>
                        <option value="Çankaya - Öveçler Mh.">Çankaya - Öveçler Mh.</option>
                        <option value="Çankaya - Güzeltepe Mh.">Çankaya - Güzeltepe Mh.</option>
                        <option value="Çankaya - Çukurambar Mh.">Çankaya - Çukurambar Mh.</option>
                        <option value="Çankaya - Yıldızevler Mh.">Çankaya - Yıldızevler Mh.</option>
                        <option value="Çankaya - Ümit Mh.">Çankaya - Ümit Mh.</option>
                        <option value="Çankaya - Sokullu Mehmet Paşa Mh.">Çankaya - Sokullu Mehmet Paşa Mh.</option>
                        <option value="Çankaya - Barbaros Mh.">Çankaya - Barbaros Mh.</option>
                        <option value="Çankaya - Yücetepe Mh.">Çankaya - Yücetepe Mh.</option>
                        <option value="Çankaya - Çayyolu Mh.">Çankaya - Çayyolu Mh.</option>
                        <option value="Çankaya - Maltepe Mh.">Çankaya - Maltepe Mh.</option>
                        <option value="Çankaya - Kırkkonaklar Mh.">Çankaya - Kırkkonaklar Mh.</option>
                        <option value="Çubuk - Dumlupınar Mh.">Çubuk - Dumlupınar Mh.</option>
                        <option value="Çubuk - Esenboğa Merkez Mh.">Çubuk - Esenboğa Merkez Mh.</option>
                        <option value="Etimesgut - Atakent Mh.">Etimesgut - Atakent Mh.</option>
                        <option value="Etimesgut - Fatih Sultan Mh.">Etimesgut - Fatih Sultan Mh.</option>
                        <option value="Etimesgut - Güzelkent Mh.">Etimesgut - Güzelkent Mh.</option>
                        <option value="Etimesgut - Aşağıyurtçu Mh.">Etimesgut - Aşağıyurtçu Mh.</option>
                        <option value="Etimesgut - Şehit Osman Avcı Mh.">Etimesgut - Şehit Osman Avcı Mh.</option>
                        <option value="Etimesgut - Turkuaz Mh.">Etimesgut - Turkuaz Mh.</option>
                        <option value="Etimesgut - Bağlıca Mh.">Etimesgut - Bağlıca Mh.</option>
                        <option value="Etimesgut - Yeşilova Mh.">Etimesgut - Yeşilova Mh.</option>
                        <option value="Etimesgut - İstasyon Mh.">Etimesgut - İstasyon Mh.</option>
                        <option value="Etimesgut - 30 Ağustos Mh.">Etimesgut - 30 Ağustos Mh.</option>
                        <option value="Etimesgut - Yavuz Selim Mh.">Etimesgut - Yavuz Selim Mh.</option>
                        <option value="Etimesgut - Tunahan Mh.">Etimesgut - Tunahan Mh.</option>
                        <option value="Etimesgut - Yukarıyurtçu Mh.">Etimesgut - Yukarıyurtçu Mh.</option>
                        <option value="Etimesgut - Alsancak Mh.">Etimesgut - Alsancak Mh.</option>
                        <option value="Etimesgut - Ahi Mesut Mh.">Etimesgut - Ahi Mesut Mh.</option>
                        <option value="Etimesgut - Göksu Mh.">Etimesgut - Göksu Mh.</option>
                        <option value="Etimesgut - Kazım Karabekir Mh.">Etimesgut - Kazım Karabekir Mh.</option>
                        <option value="Etimesgut - Atayurt Mh.">Etimesgut - Atayurt Mh.</option>
                        <option value="Etimesgut - Devlet Mh.">Etimesgut - Devlet Mh.</option>
                        <option value="Etimesgut - Eryaman Mh.">Etimesgut - Eryaman Mh.</option>
                        <option value="Etimesgut - Oğuzlar Mh.">Etimesgut - Oğuzlar Mh.</option>
                        <option value="Etimesgut - Elvan Mh.">Etimesgut - Elvan Mh.</option>
                        <option value="Etimesgut - Süvari Mh.">Etimesgut - Süvari Mh.</option>
                        <option value="Etimesgut - Şeker Mh.">Etimesgut - Şeker Mh.</option>
                        <option value="Etimesgut - Şeyh Şamil Mh.">Etimesgut - Şeyh Şamil Mh.</option>
                        <option value="Etimesgut - Yeni Bağlıca Mh.">Etimesgut - Yeni Bağlıca Mh.</option>
                        <option value="Etimesgut - Topçu Mh.">Etimesgut - Topçu Mh.</option>
                        <option value="Etimesgut - Piyade Mh.">Etimesgut - Piyade Mh.</option>
                        <option value="Etimesgut - Yapracık Mh.">Etimesgut - Yapracık Mh.</option>
                        <option value="Gölbaşı - Örencik Mh.">Gölbaşı - Örencik Mh.</option>
                        <option value="Gölbaşı - Bahçelievler Mh.">Gölbaşı - Bahçelievler Mh.</option>
                        <option value="Gölbaşı - Kızılcaşar Mh.">Gölbaşı - Kızılcaşar Mh.</option>
                        <option value="Gölbaşı - Karşıyaka Mh.">Gölbaşı - Karşıyaka Mh.</option>
                        <option value="Gölbaşı - Seğmenler Mh.">Gölbaşı - Seğmenler Mh.</option>
                        <option value="Gölbaşı - Taşpınar Mh.">Gölbaşı - Taşpınar Mh.</option>
                        <option value="Gölbaşı - Şafak Mh.">Gölbaşı - Şafak Mh.</option>
                        <option value="Gölbaşı - Hacılar Mh.">Gölbaşı - Hacılar Mh.</option>
                        <option value="Gölbaşı - İncek Mh.">Gölbaşı - İncek Mh.</option>
                        <option value="Haymana - Yeni Mh.">Haymana - Yeni Mh.</option>
                        <option value="Kahramankazan - Atatürk Mh.">Kahramankazan - Atatürk Mh.</option>
                        <option value="Kahramankazan - Yıldırımbeyazıt Mh.">Kahramankazan - Yıldırımbeyazıt Mh.</option>
                        <option value="Keçiören - Şenyuva Mh.">Keçiören - Şenyuva Mh.</option>
                        <option value="Keçiören - Yakacık Mh.">Keçiören - Yakacık Mh.</option>
                        <option value="Keçiören - 23 Nisan Mh.">Keçiören - 23 Nisan Mh.</option>
                        <option value="Keçiören - Aktepe Mh.">Keçiören - Aktepe Mh.</option>
                        <option value="Keçiören - Emrah Mh.">Keçiören - Emrah Mh.</option>
                        <option value="Keçiören - Bağlum Güzelyurt Mh.">Keçiören - Bağlum Güzelyurt Mh.</option>
                        <option value="Keçiören - Uyanış Mh.">Keçiören - Uyanış Mh.</option>
                        <option value="Keçiören - Yeşilöz Mh.">Keçiören - Yeşilöz Mh.</option>
                        <option value="Keçiören - 19 Mayıs Mh.">Keçiören - 19 Mayıs Mh.</option>
                        <option value="Keçiören - Şefkat Mh.">Keçiören - Şefkat Mh.</option>
                        <option value="Keçiören - Kafkas Mh.">Keçiören - Kafkas Mh.</option>
                        <option value="Keçiören - Kavacık Subayevleri Mh.">Keçiören - Kavacık Subayevleri Mh.</option>
                        <option value="Keçiören - Kalaba Mh.">Keçiören - Kalaba Mh.</option>
                        <option value="Keçiören - Atakent Mh.">Keçiören - Atakent Mh.</option>
                        <option value="Keçiören - Ayvalı Mh.">Keçiören - Ayvalı Mh.</option>
                        <option value="Keçiören - Atapark Mh.">Keçiören - Atapark Mh.</option>
                        <option value="Keçiören - Karşıyaka Mh.">Keçiören - Karşıyaka Mh.</option>
                        <option value="Keçiören - Kanuni Mh.">Keçiören - Kanuni Mh.</option>
                        <option value="Keçiören - Karakaya Mh.">Keçiören - Karakaya Mh.</option>
                        <option value="Keçiören - Şehit Kubilay Mh.">Keçiören - Şehit Kubilay Mh.</option>
                        <option value="Keçiören - Yeşiltepe Mh.">Keçiören - Yeşiltepe Mh.</option>
                        <option value="Keçiören - Köşk Mh.">Keçiören - Köşk Mh.</option>
                        <option value="Keçiören - Yayla Mh.">Keçiören - Yayla Mh.</option>
                        <option value="Keçiören - Tepebaşı Mh.">Keçiören - Tepebaşı Mh.</option>
                        <option value="Keçiören - Bağlarbaşı Mh.">Keçiören - Bağlarbaşı Mh.</option>
                        <option value="Keçiören - Güçlükaya Mh.">Keçiören - Güçlükaya Mh.</option>
                        <option value="Keçiören - İncirli Mh.">Keçiören - İncirli Mh.</option>
                        <option value="Keçiören - Çiçekli Mh.">Keçiören - Çiçekli Mh.</option>
                        <option value="Keçiören - Kalaba Mh.">Keçiören - Kalaba Mh.</option>
                        <option value="Keçiören - Pınarbaşı Mh.">Keçiören - Pınarbaşı Mh.</option>
                        <option value="Keçiören - Kuşcağız Mh.">Keçiören - Kuşcağız Mh.</option>
                        <option value="Keçiören - Ufuktepe Mh.">Keçiören - Ufuktepe Mh.</option>
                        <option value="Keçiören - Osmangazi Mh.">Keçiören - Osmangazi Mh.</option>
                        <option value="Keçiören - Basınevleri Mh.">Keçiören - Basınevleri Mh.</option>
                        <option value="Keçiören - Hisar Mh.">Keçiören - Hisar Mh.</option>
                        <option value="Keçiören - Ovacık Mh.">Keçiören - Ovacık Mh.</option>
                        <option value="Keçiören - Bademlik Mh.">Keçiören - Bademlik Mh.</option>
                        <option value="Keçiören - Esertepe Mh.">Keçiören - Esertepe Mh.</option>
                        <option value="Keçiören - Sancaktepe Mh.">Keçiören - Sancaktepe Mh.</option>
                        <option value="Keçiören - Etlik Mh.">Keçiören - Etlik Mh.</option>
                        <option value="Keçiören - Yükseltepe Mh.">Keçiören - Yükseltepe Mh.</option>
                        <option value="Keçiören - Şenlik Mh.">Keçiören - Şenlik Mh.</option>
                        <option value="Keçiören - Aşağı Eğlence Mh.">Keçiören - Aşağı Eğlence Mh.</option>
                        <option value="Keçiören - Kamil Ocak Mh.">Keçiören - Kamil Ocak Mh.</option>
                        <option value="Kızılcahamam - Karşıyaka Mh.">Kızılcahamam - Karşıyaka Mh.</option>
                        <option value="Kızılcahamam - İsmetpaşa Mh.">Kızılcahamam - İsmetpaşa Mh.</option>
                        <option value="Mamak - Cengizhan Mh.">Mamak - Cengizhan Mh.</option>
                        <option value="Mamak - Bostancık Mh.">Mamak - Bostancık Mh.</option>
                        <option value="Mamak - Gülveren Mh.">Mamak - Gülveren Mh.</option>
                        <option value="Mamak - Küçük Kayaş Mh.">Mamak - Küçük Kayaş Mh.</option>
                        <option value="Mamak - Ekin Mh.">Mamak - Ekin Mh.</option>
                        <option value="Mamak - Şahap Gürler Mh.">Mamak - Şahap Gürler Mh.</option>
                        <option value="Mamak - Misket Mh.">Mamak - Misket Mh.</option>
                        <option value="Mamak - Şehit Cengiz Topel Mh.">Mamak - Şehit Cengiz Topel Mh.</option>
                        <option value="Mamak - Fahri Korutürk Mh.">Mamak - Fahri Korutürk Mh.</option>
                        <option value="Mamak - Kayaş Mh.">Mamak - Kayaş Mh.</option>
                        <option value="Mamak - Derbent Mh.">Mamak - Derbent Mh.</option>
                        <option value="Mamak - Ege Mh.">Mamak - Ege Mh.</option>
                        <option value="Mamak - Şafaktepe Mh.">Mamak - Şafaktepe Mh.</option>
                        <option value="Mamak - Peyami Safa Mh.">Mamak - Peyami Safa Mh.</option>
                        <option value="Mamak - Altınevler Mh.">Mamak - Altınevler Mh.</option>
                        <option value="Mamak - Akşemsettin Mh.">Mamak - Akşemsettin Mh.</option>
                        <option value="Mamak - Kutlu Mh.">Mamak - Kutlu Mh.</option>
                        <option value="Mamak - Çağlayan Mh.">Mamak - Çağlayan Mh.</option>
                        <option value="Mamak - Hüseyingazi Mh.">Mamak - Hüseyingazi Mh.</option>
                        <option value="Mamak - Mehtap Mh.">Mamak - Mehtap Mh.</option>
                        <option value="Mamak - Türközü Mh.">Mamak - Türközü Mh.</option>
                        <option value="Mamak - Harman Mh.">Mamak - Harman Mh.</option>
                        <option value="Mamak - Balkiraz Mh.">Mamak - Balkiraz Mh.</option>
                        <option value="Mamak - Şirintepe Mh.">Mamak - Şirintepe Mh.</option>
                        <option value="Mamak - Elvankent Mh.">Mamak - Elvankent Mh.</option>
                        <option value="Mamak - Altıağaç Mh.">Mamak - Altıağaç Mh.</option>
                        <option value="Mamak - Zirvekent Mh.">Mamak - Zirvekent Mh.</option>
                        <option value="Mamak - Üreğil Mh.">Mamak - Üreğil Mh.</option>
                        <option value="Mamak - Bahçeleriçi Mh.">Mamak - Bahçeleriçi Mh.</option>
                        <option value="Mamak - Hürel Mh.">Mamak - Hürel Mh.</option>
                        <option value="Mamak - Mutlu Mh.">Mamak - Mutlu Mh.</option>
                        <option value="Mamak - Akdere Mh.">Mamak - Akdere Mh.</option>
                        <option value="Mamak - Durali Alıç Mh.">Mamak - Durali Alıç Mh.</option>
                        <option value="Mamak - Karaağaç Mh.">Mamak - Karaağaç Mh.</option>
                        <option value="Mamak - Diriliş Mh.">Mamak - Diriliş Mh.</option>
                        <option value="Mamak - Demirlibahçe Mh.">Mamak - Demirlibahçe Mh.</option>
                        <option value="Mamak - Yeşilbayır Mh.">Mamak - Yeşilbayır Mh.</option>
                        <option value="Mamak - Şahintepe Mh.">Mamak - Şahintepe Mh.</option>
                        <option value="Mamak - Saimekadın Mh.">Mamak - Saimekadın Mh.</option>
                        <option value="Mamak - Abidinpaşa Mh.">Mamak - Abidinpaşa Mh.</option>
                        <option value="Mamak - Aşık Veysel Mh.">Mamak - Aşık Veysel Mh.</option>
                        <option value="Mamak - General Zeki Doğan Mh.">Mamak - General Zeki Doğan Mh.</option>
                        <option value="Polatlı - Mehmet Akif Mh.">Polatlı - Mehmet Akif Mh.</option>
                        <option value="Polatlı - Şehitlik Mh.">Polatlı - Şehitlik Mh.</option>
                        <option value="Polatlı - Yeni Mh.">Polatlı - Yeni Mh.</option>
                        <option value="Polatlı - Cumhuriyet Mh.">Polatlı - Cumhuriyet Mh.</option>
                        <option value="Polatlı - İstiklal Mh.">Polatlı - İstiklal Mh.</option>
                        <option value="Polatlı - Kurtuluş Mh.">Polatlı - Kurtuluş Mh.</option>
                        <option value="Polatlı - Gazi Mh.">Polatlı - Gazi Mh.</option>
                        <option value="Polatlı - Şentepe Mh.">Polatlı - Şentepe Mh.</option>
                        <option value="Polatlı - Zafer Mh.">Polatlı - Zafer Mh.</option>
                        <option value="Polatlı - Fatih Mh.">Polatlı - Fatih Mh.</option>
                        <option value="Pursaklar - Fatih Mh.">Pursaklar - Fatih Mh.</option>
                        <option value="Pursaklar - Merkez Mh.">Pursaklar - Merkez Mh.</option>
                        <option value="Pursaklar - Tevfik İleri Mh.">Pursaklar - Tevfik İleri Mh.</option>
                        <option value="Pursaklar - Karaköy Mh.">Pursaklar - Karaköy Mh.</option>
                        <option value="Pursaklar - Saray Cumhuriyet Mh.">Pursaklar - Saray Cumhuriyet Mh.</option>
                        <option value="Pursaklar - Ayyıldız Mh.">Pursaklar - Ayyıldız Mh.</option>
                        <option value="Pursaklar - Saray Fatih Mh.">Pursaklar - Saray Fatih Mh.</option>
                        <option value="Pursaklar - Mimar Sinan Mh.">Pursaklar - Mimar Sinan Mh.</option>
                        <option value="Pursaklar - Yunus Emre Mh.">Pursaklar - Yunus Emre Mh.</option>
                        <option value="Sincan - Atatürk Mh.">Sincan - Atatürk Mh.</option>
                        <option value="Sincan - Alcı Mh.">Sincan - Alcı Mh.</option>
                        <option value="Sincan - Törekent Mh.">Sincan - Törekent Mh.</option>
                        <option value="Sincan - İstasyon Mh.">Sincan - İstasyon Mh.</option>
                        <option value="Sincan - Gökçek Mh.">Sincan - Gökçek Mh.</option>
                        <option value="Sincan - Hürriyet Mh.">Sincan - Hürriyet Mh.</option>
                        <option value="Sincan - Yenikent Mh.">Sincan - Yenikent Mh.</option>
                        <option value="Sincan - Cumhuriyet Mh.">Sincan - Cumhuriyet Mh.</option>
                        <option value="Sincan - Yenikent Mh.">Sincan - Yenikent Mh.</option>
                        <option value="Sincan - Pınarbaşı Mh.">Sincan - Pınarbaşı Mh.</option>
                        <option value="Sincan - Ahi Evran Mh.">Sincan - Ahi Evran Mh.</option>
                        <option value="Sincan - Fatih Mh.">Sincan - Fatih Mh.</option>
                        <option value="Sincan - Ulubatlı Hasan Mh.">Sincan - Ulubatlı Hasan Mh.</option>
                        <option value="Sincan - Gazi Osmanpaşa Mh.">Sincan - Gazi Osmanpaşa Mh.</option>
                        <option value="Sincan - Akşemsettin Mh.">Sincan - Akşemsettin Mh.</option>
                        <option value="Sincan - Andiçen Mh.">Sincan - Andiçen Mh.</option>
                        <option value="Sincan - Saraycık Mh.">Sincan - Saraycık Mh.</option>
                        <option value="Sincan - Menderes Mh.">Sincan - Menderes Mh.</option>
                        <option value="Sincan - Osmanlı Mh.">Sincan - Osmanlı Mh.</option>
                        <option value="Sincan - Tandoğan Mh.">Sincan - Tandoğan Mh.</option>
                        <option value="Sincan - Selçuklu Mh.">Sincan - Selçuklu Mh.</option>
                        <option value="Sincan - Plevne Mh.">Sincan - Plevne Mh.</option>
                        <option value="Sincan - 29 Ekim Mh.">Sincan - 29 Ekim Mh.</option>
                        <option value="Sincan - Mustafa Kemal Mh.">Sincan - Mustafa Kemal Mh.</option>
                        <option value="Sincan - Fevzi Çakmak Mh.">Sincan - Fevzi Çakmak Mh.</option>
                        <option value="Sincan - Malazgirt Mh.">Sincan - Malazgirt Mh.</option>
                        <option value="Sincan - Mareşal Çakmak Mh.">Sincan - Mareşal Çakmak Mh.</option>
                        <option value="Sincan - Ertuğrulgazi Mh.">Sincan - Ertuğrulgazi Mh.</option>
                        <option value="Yenimahalle - Avcılar Mh.">Yenimahalle - Avcılar Mh.</option>
                        <option value="Yenimahalle - Gazi Mh.">Yenimahalle - Gazi Mh.</option>
                        <option value="Yenimahalle - Emniyet Mh.">Yenimahalle - Emniyet Mh.</option>
                        <option value="Yenimahalle - Yeşilevler Mh.">Yenimahalle - Yeşilevler Mh.</option>
                        <option value="Yenimahalle - Burç Mh.">Yenimahalle - Burç Mh.</option>
                        <option value="Yenimahalle - Kayalar Mh.">Yenimahalle - Kayalar Mh.</option>
                        <option value="Yenimahalle - İlkyerleşim Mh.">Yenimahalle - İlkyerleşim Mh.</option>
                        <option value="Yenimahalle - Mehmet Akif Ersoy Mh.">Yenimahalle - Mehmet Akif Ersoy Mh.</option>
                        <option value="Yenimahalle - Kentkoop Mh.">Yenimahalle - Kentkoop Mh.</option>
                        <option value="Yenimahalle - Demetlale Mh.">Yenimahalle - Demetlale Mh.</option>
                        <option value="Yenimahalle - Esentepe Mh.">Yenimahalle - Esentepe Mh.</option>
                        <option value="Yenimahalle - Turgut Özal Mh.">Yenimahalle - Turgut Özal Mh.</option>
                        <option value="Yenimahalle - Serhat Mh.">Yenimahalle - Serhat Mh.</option>
                        <option value="Yenimahalle - Ergazi Mh.">Yenimahalle - Ergazi Mh.</option>
                        <option value="Yenimahalle - Batı Sitesi Mh.">Yenimahalle - Batı Sitesi Mh.</option>
                        <option value="Yenimahalle - Çiğdemtepe Mh.">Yenimahalle - Çiğdemtepe Mh.</option>
                        <option value="Yenimahalle - Karşıyaka Mh.">Yenimahalle - Karşıyaka Mh.</option>
                        <option value="Yenimahalle - Uğur Mumcu Mh.">Yenimahalle - Uğur Mumcu Mh.</option>
                        <option value="Yenimahalle - Işınlar Mh.">Yenimahalle - Işınlar Mh.</option>
                        <option value="Yenimahalle - Ata Mh.">Yenimahalle - Ata Mh.</option>
                        <option value="Yenimahalle - Ergenekon Mh.">Yenimahalle - Ergenekon Mh.</option>
                        <option value="Yenimahalle - Susuz Mh.">Yenimahalle - Susuz Mh.</option>
                        <option value="Yenimahalle - Demetgül Mh.">Yenimahalle - Demetgül Mh.</option>
                        <option value="Yenimahalle - Demetevler Mh.">Yenimahalle - Demetevler Mh.</option>
                        <option value="Yenimahalle - Pamuklar Mh.">Yenimahalle - Pamuklar Mh.</option>
                        <option value="Yenimahalle - Yeni Batı Mh.">Yenimahalle - Yeni Batı Mh.</option>
                        <option value="Yenimahalle - Yunus Emre Mh.">Yenimahalle - Yunus Emre Mh.</option>
                    </select>

                    <select name="house_type" id="district-selector">
                        <option value="" disabled selected>Ev Tipi Seçiniz</option>
                        <option value="1+1">1+1</option>
                        <option value="2+1">2+1</option>
                        <option value="2.5+1">2.5+1</option>
                        <option value="3+1">3+1</option>
                        <option value="4+1">4+1</option>
                        <option value="5+1">5+1</option>
                        <option value="6+1">6+1</option>
                        <option value="4.5+1">4.5+1</option>
                        <option value="4+2">4+2</option>
                        <option value="5+2">5+2</option>
                    </select>

                    <input type="number" id="area-input" placeholder="Alan Büyüklüğünü Giriniz (m²)" min="50" max="500" required>
                    <select name="floor" id="district-selector">
                        <option value="" disabled selected>Kat Tipi Seçiniz</option>
                        <option value="1">1. Kat</option>
                        <option value="2">2. Kat</option>
                        <option value="3">3. Kat</option>
                        <option value="4">4. Kat</option>
                        <option value="5">5. Kat</option>
                        <option value="6">6. Kat</option>
                        <option value="7">7. Kat</option>
                        <option value="8">8. Kat</option>
                        <option value="9">9. Kat</option>
                        <option value="10">10. Kat</option>
                        <option value="11">11. Kat</option>
                        <option value="12">12. Kat</option>
                        <option value="13">13. Kat</option>
                        <option value="14">14. Kat</option>
                        <option value="15">15. Kat</option>
                        <option value="16">16. Kat</option>
                        <option value="17">17. Kat</option>
                        <option value="18">18. Kat</option>
                        <option value="19">19. Kat</option>
                        <option value="20">20. Kat</option>
                        <option value="21">21. Kat</option>
                        <option value="22">22. Kat</option>
                        <option value="23">23. Kat</option>
                        <option value="24">24. Kat</option>
                        <option value="25">25. Kat</option>
                        <option value="Düz Giriş">Düz Giriş</option>
                        <option value="Bodrum Kat">Bodrum Kat</option>
                        <option value="Bahçe Katı">Bahçe Katı</option>
                        <option value="Kot 1">Kot 1 (-1. Kat)</option>
                        <option value="Kot 2">Kot 2 (-2. Kat)</option>
                        <option value="Kot 3">Kot 3 (-3. Kat)</option>
                        <option value="Yüksek Giriş">Yüksek Giriş</option>
                    </select>
                    <button type="submit" class="predict-button">Fiyat Tahmini Yap</button>
                    <p class="prediction-result">Tahmin Edilen Fiyat: </p>
                </div>
            </form>


        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/prediction-page.js"></script>
</body>
</html>




